<div class="row justify-content-end progress-row">
    <div class="col-10 ">
        <div class="row">
            <div class="col-12 progress-back p-4">
                <h3 class="bar-title">Conocimiento</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 progress-back p-4">
                <h3 class="bar-title">Saber hacer</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 progress-back p-4">
                <h3 class="bar-title">Saber estar</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
            </div>
        </div>
    </div>
</div>