.progress-back{
    background-color: #FFF;
    box-shadow: -6px 7px 5px 0px rgb(227, 237, 253, 0.3);
    border-radius: 15px;
}
.bar-title{
    font-size: 20px;
    color: #5858A6;
}
.area{
    margin-bottom: 25px;
}
.area:last-child{
    margin-bottom: 0px;
}
.progress-row{
    position: sticky;
    top: 30px;
}