<!--
    https://dribbble.com/shots/5017628-On-Mission-Itself/attachments/1118576
-->
<div class="row">
    <div class="col-3">
        <app-statistics-detatil></app-statistics-detatil>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Conocimiento</h1>
                <div class="form-group">
                    <h4 class="sub-title">Practicos del puesto de trabajo</h4>
                    <hr>
                    <p> Ejecuta las operaciones de acuerdo a la experiencia
                        adquirida</p>
                    <div class="form-check form-check-inline">
                        <input id="ppt1" type="radio" class="form-check-input" name="ppt" value="regular">
                        <label for="ppt1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ppt2" type="radio" class="form-check-input" name="ppt" value="Buena">
                        <label for="ppt2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ppt3" type="radio" class="form-check-input" name="ppt" value="Excelente">
                        <label for="ppt3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Teoricos del puesto de trabajo</h4>
                    <hr>
                    <p for="">Aplica los conceptos adquiridos para la
                        ejecución
                        de las operaciones asignadas</p>
                    <div class="form-check form-check-inline">
                        <input id="tpt1" type="radio" class="form-check-input" name="tpt" value="regular">
                        <label for="tpt1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="tpt2" type="radio" class="form-check-input" name="tpt" value="Buena">
                        <label for="tpt2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="tpt3" type="radio" class="form-check-input" name="tpt" value="Excelente">
                        <label for="tpt3" class="form-check-label">Excelente</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Saber hacer</h1>
                <div class="form-group">
                    <h4 class="sub-title">Calidad en el trabajo</h4>
                    <hr>
                    <p>Realizar la operacion de acuerdo a los métodos establecidos,
                        es decir,
                        haciendo las cosas bien desde la primera vez. Es detallista e identifica con facilidad
                        requerimientos
                        para realizar su operación de acuerdo a los estándares establecidos.</p>
                    <div class="form-check form-check-inline">
                        <input id="ct1" type="radio" class="form-check-input" name="ct" value="regular">
                        <label for="ct1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ct2" type="radio" class="form-check-input" name="ct" value="Buena">
                        <label for="ct2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ct3" type="radio" class="form-check-input" name="ct" value="Excelente">
                        <label for="ct3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Productividad</h4>
                    <hr>
                    <p>Cumple con los objetivos de producción de acuerdo con los estándares
                        establecidos, siempre va acompañado de la calidad.</p>
                    <div class="form-check form-check-inline">
                        <input id="pt1" type="radio" class="form-check-input" name="pt" value="regular">
                        <label for="pt1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="pt2" type="radio" class="form-check-input" name="pt" value="Buena">
                        <label for="pt2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="pt3" type="radio" class="form-check-input" name="pt" value="Excelente">
                        <label for="pt3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Puntualidad</h4>
                    <hr>
                    <p>La persona cumple con los horarios establecidos por la empresa, se
                        encuentra a
                        la hora de inicio ya listo para comenzar a trabajar en su puesto de trabajo</p>
                    <div class="form-check form-check-inline">
                        <input id="pp1" type="radio" class="form-check-input" name="pp" value="regular">
                        <label for="pp1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="pp2" type="radio" class="form-check-input" name="pp" value="Buena">
                        <label for="pp2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="pp3" type="radio" class="form-check-input" name="pp" value="Excelente">
                        <label for="pp3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Orientación a los resultados</h4>
                    <hr>
                    <p>Capacidad de encaminar todos los actos al logro de las
                        metas
                        establecidas</p>
                    <div class="form-check form-check-inline">
                        <input id="or1" type="radio" class="form-check-input" name="or" value="regular">
                        <label for="or1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="or2" type="radio" class="form-check-input" name="or" value="Buena">
                        <label for="or2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="or3" type="radio" class="form-check-input" name="or" value="Excelente">
                        <label for="or3" class="form-check-label">Excelente</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="section-title">Saber estar</h1>
                <div class="form-group">
                    <h4 class="sub-title">Adaptabilidad al cambio</h4>
                    <hr>
                    <p>La persona ha demostrado capacidad para adaptarse a trabajar
                        en
                        situaciones variadas o cambios de operación y métodos cuando surgen dificultades o cambios en la
                        organización</p>
                    <div class="form-check form-check-inline">
                        <input id="ac1" type="radio" class="form-check-input" name="ac" value="regular">
                        <label for="ac1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ac2" type="radio" class="form-check-input" name="ac" value="Buena">
                        <label for="ac2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ac3" type="radio" class="form-check-input" name="ac" value="Excelente">
                        <label for="ac3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Calidad en el trabajo</h4>
                    <hr>
                    <p>Evita ausentarse de manera injustificada al trabajo.</p>
                    <div class="form-check form-check-inline">
                        <input id="aa1" type="radio" class="form-check-input" name="aa" value="regular">
                        <label for="aa1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="aa2" type="radio" class="form-check-input" name="aa" value="Buena">
                        <label for="aa2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="aa3" type="radio" class="form-check-input" name="aa" value="Excelente">
                        <label for="aa3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Autocontrol</h4>
                    <hr>
                    <p>Capacidad de tener controladas las emociones en situaciones negativas y
                        de
                        estrés</p>
                    <div class="form-check form-check-inline">
                        <input id="al1" type="radio" class="form-check-input" name="al" value="regular">
                        <label for="al1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="al2" type="radio" class="form-check-input" name="al" value="Buena">
                        <label for="al2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="al3" type="radio" class="form-check-input" name="al" value="Excelente">
                        <label for="al3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Compromiso con la organización</h4>
                    <hr>
                    <p>Comprender las características de la organización,
                        alineando
                        la conducta y la responsabilidad laboral con los valores, principios y objetivos de la misma.
                    </p>
                    <div class="form-check form-check-inline">
                        <input id="co1" type="radio" class="form-check-input" name="co" value="regular">
                        <label for="co1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="co2" type="radio" class="form-check-input" name="co" value="Buena">
                        <label for="co2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="co3" type="radio" class="form-check-input" name="co" value="Excelente">
                        <label for="co3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Confianza</h4>
                    <hr>
                    <p>Permite creer en nosotros mismos. Brinda seguridad.</p>
                    <div class="form-check form-check-inline">
                        <input id="con1" type="radio" class="form-check-input" name="con" value="regular">
                        <label for="con1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="con2" type="radio" class="form-check-input" name="con" value="Buena">
                        <label for="con2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="con3" type="radio" class="form-check-input" name="con" value="Excelente">
                        <label for="con3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Constancia</h4>
                    <hr>
                    <p>Ayuda a alcanzar cualquier meta, para ello debemos poner todo nuestro
                        ánimo, firmeza y perseverancia. Esperamos gente lider en nuestra empresa con gran firmeza
                        interior.</p>
                    <div class="form-check form-check-inline">
                        <input id="cons1" type="radio" class="form-check-input" name="cons" value="regular">
                        <label for="cons1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="cons2" type="radio" class="form-check-input" name="cons" value="Buena">
                        <label for="cons2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="cons3" type="radio" class="form-check-input" name="cons" value="Excelente">
                        <label for="cons3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Cooperación</h4>
                    <hr>
                    <p>Invita a compartir con los demás tareas o actividades para alcanzar un
                        fin común. Ayuda a alcanzar grande metas y crecer juntos.</p>
                    <div class="form-check form-check-inline">
                        <input id="coop1" type="radio" class="form-check-input" name="coop" value="regular">
                        <label for="coop1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="coop2" type="radio" class="form-check-input" name="coop" value="Buena">
                        <label for="coop2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="coop3" type="radio" class="form-check-input" name="coop" value="Excelente">
                        <label for="coop3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Disciplina</h4>
                    <hr>
                    <p>Cumple las reglas que la empresa ha establecido para mantener el orden en
                        la compañia.
                    <p>
                    <div class="form-check form-check-inline">
                        <input id="dd1" type="radio" class="form-check-input" name="dd" value="regular">
                        <label for="dd1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="dd2" type="radio" class="form-check-input" name="dd" value="Buena">
                        <label for="dd2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="dd3" type="radio" class="form-check-input" name="dd" value="Excelente">
                        <label for="dd3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Honestidad</h4>
                    <hr>
                    <p>Invita a pensar, actuar y hablar siempre con la verdad. Fortalece nuestra
                        relación y hace posible la calidad de nuestro trabajo. Nuestro empleado debe ser honesto con la
                        compañía, con su trabajo y con su familia</p>
                    <div class="form-check form-check-inline">
                        <input id="ho1" type="radio" class="form-check-input" name="ho" value="regular">
                        <label for="ho1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ho2" type="radio" class="form-check-input" name="ho" value="Buena">
                        <label for="ho2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ho3" type="radio" class="form-check-input" name="ho" value="Excelente">
                        <label for="ho3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Relaciones Interpersonales</h4>
                    <hr>
                    <p>Capacidad de la persona por promover, establecer y
                        mantener relaciones cordiales reciprocas</p>
                    <div class="form-check form-check-inline">
                        <input id="ri1" type="radio" class="form-check-input" name="ri" value="regular">
                        <label for="ri1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ri2" type="radio" class="form-check-input" name="ri" value="Buena">
                        <label for="ri2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="ri3" type="radio" class="form-check-input" name="ri" value="Excelente">
                        <label for="ri3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Responsabilidad</h4>
                    <hr>
                    <p>Permite trabajar en armonia, crea compromiso en los empleados y
                        genera grandes colaboradores.</p>
                    <div class="form-check form-check-inline">
                        <input id="re1" type="radio" class="form-check-input" name="re" value="regular">
                        <label for="re1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="re2" type="radio" class="form-check-input" name="re" value="Buena">
                        <label for="re2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="re3" type="radio" class="form-check-input" name="re" value="Excelente">
                        <label for="re3" class="form-check-label">Excelente</label>
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="sub-title">Tolerancia a la presión</h4>
                    <hr>
                    <p>Es la capacidad para responder y trabajar con alto desempeño
                        en situaciones de mucha exigencia.</p>
                    <div class="form-check form-check-inline">
                        <input id="tp1" type="radio" class="form-check-input" name="tp" value="regular">
                        <label for="tp1" class="form-check-label">Regular</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="tp2" type="radio" class="form-check-input" name="tp" value="Buena">
                        <label for="tp2" class="form-check-label">Buena</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input id="tp3" type="radio" class="form-check-input" name="tp" value="Excelente">
                        <label for="tp3" class="form-check-label">Excelente</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>